body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #f4f7f9;
    color: #000;
}
header, footer{
    background: #292222;
    padding: 40px 25px;
    color: #fff;
}
nav a{
    text-decoration: none;
    color: rgb(120, 164, 236);
    margin-right: 20px;
    cursor: pointer;
}
main{
    max-width: 960px;
    padding: 40px 25px;
    margin: 0 auto;
}
section{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 5px 10px rgba(10, 20, 30, .05);
}